.no-margin {
    margin: 0;
}

body {
    overflow: hidden;
    margin-bottom: 10px;
}

.page__fixed-panel {
    overflow: auto;
}

.no-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 50px;
    flex-direction: column;
    
    span {
        color: grey;
    }
}

.liquid-container {
    width: 100%;
}