.button {
	-webkit-border-radius: $global-radius;
	-moz-border-radius: $global-radius;
	border-radius: $global-radius;
	font-size: rem-calc(22);
	padding: rem-calc(10 20);
	line-height: 1;
	text-align: center;
	display: inline-block;
	color: #fff;
	background: $green;
	border: 2px solid $green;
	margin: 0;

	&.button--cost {
		margin: 0 5px;
		padding: 0.325rem 1.25rem;
		width: 120px;
	}

	&.long-width {
		width: 100%;
		max-width: 290px;
	}

	&.fixed-width {
		width: 100%;
		max-width: 200px;
	}

	&.medium-width {
		width: 100%;
		max-width: 182px;
	}

	&.small-width {
		width: 100%;
		max-width: 120px;
	}

	&:focus {
		outline: 0;
	}

	&:focus, &:hover, &:active {
		border-color: darken($green, 15%);
		background: darken($green, 15%);
	}

	&.half-width {
		width: 49%;
	}

	&.full-width {
		width: 99%;
	}
}

.button--loading {
	.ember-view {
		display: inline-block;
	}
}

.button--right-buttons {
	display: inline-block;
	float: right;
	margin: 13px;
	width: 165px;

	@media screen and (min-width: 435px) {
		width: 190px;
	}
}

.button--rightside-buttons {
	margin: 13px;
	width: 190px;
	margin-top: 25px;
	float: right;
}

.button--left-buttons {
	display: inline-block;
	float: left;
	margin: 13px;
	width: 190px;
}

.button--uppercase {
	text-transform: uppercase;
}

.button--pink {
	background: #e0166a;

	&.button-pink__wishlist {
		width: 150px;
		border: 2px solid transparent;
	}

	&:hover, &:active {
		background: darken(#e0166a, 15%);
	}
}

.button--grey {
	border-color: $dark-gray;
	background: $dark-gray;

	&:hover, &:active, &:focus {
		border-color: darken($dark-gray, 15%);
		background: darken($dark-gray, 15%);
	}
}

.button--disabled {
	border-color: $medium-gray;
	background: $medium-gray;

	&:hover, &:active, &:focus {
		border-color: $medium-gray;
		background: $medium-gray;
	}
}

.button--red {
	border-color: $red;
	background: $red;

	&:hover, &:active, &:focus {
		border-color: darken($red, 15%);
		background: darken($red, 15%);
	}
}

.button--blue {
	border-color: $blue;
	background: $blue;
	// margin-top: 14px;

	&:hover, &:active, &:focus {
		border-color: darken($blue, 15%);
		background: darken($blue, 15%);
	}
}

.button--green {
	border-color: $green;
	background: $green;
	// margin-top: 14px;

	&:hover, &:active, &:focus {
		border-color: darken($green, 15%);
		background: darken($green, 15%);
	}
}

.button--light-blue {
	border-color: $light-blue;
	background: $light-blue;

	&:hover, &:active, &:focus {
		border-color: darken($light-blue, 15%);
		background: darken($light-blue, 15%);
	}
}

.button--outline {
	background: transparent;
	border: 2px solid $blue;
	color: $blue;
	width: 100%;
	max-width: 150px;
	&.button--status {
		max-width: 200px;
	}

	&.fixed-width {
		max-width: 210px;
	}

	&.medium-width {
		max-width: 242px;
	}

	&.long-width {
		max-width: 257px;
	}

	&.button-remove {
		font-size: 12px;
		height: 41px;
	}

	&.button--green, &.button--shipped {
		border-color: $green;
		color: $green;

		&:hover {
			background-color: $green;
			color: $white;
		}
	}

	&.button--red, &.button--declined {
		border-color: $red;
		color: $red;

		&:hover {
			background-color: $red;
			color: $white;
		}

		&.margin {
			margin-left: 10px;
		}
	}

	&.button--selected {
		background: $blue;
		color: $white;
	}

	&.button--blue, &.button--created, &.button--processed {
		border-color: $blue;
		color: $blue;
		&:hover {
			background-color: $blue;
			color: $white;
		}
	}

	&.button--grey, &.button--completed {
		border-color: $steel;
		color: $steel;

		&:hover {
			background-color: $steel;
			color: $white;
		}
	}

	&.button--light-grey, &.button--cancelled {
		border-color: $dark-gray;
		color: $dark-gray;

		&:hover {
			background-color: $dark-gray;
			color: $white;
		}
	}

	&.tutorial {
		background: transparent !important;
		border: 2px solid $blue !important;
		color: $blue !important;
	}
}

.button--auto-width {
	width: auto;
	max-width: 100%;
}

.button--small {
	@include breakpoint(medium) {
		width: 70%;
	}

	padding: rem-calc(4 12 3);
	font-size: rem-calc(18);
}

.button--xsmall {
	padding: rem-calc(4 12 3);
}

.button--medium {
	padding: rem-calc(10 60 8);
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
	background: $dark-gray;
	border-color: $dark-gray;

	&:hover {
		background: $dark-gray;
		border-color: $dark-gray;
	}
}

.button-footer {
	position: absolute;
	bottom: 1%;
	width: 98%;
}

.button--margin-bottom {
	margin-bottom: 30px;
}

.button--margin-bottom__small {
	margin-bottom: 10px;
}

.button--margin-right {
	margin-right: 10px;
}

.variant-button-footer {
	position: absolute;
	bottom: 2%;
	left: 43%;
}

.button--complete {
	width: 250px;
}

.button--purchase {
	width: 40%;
	margin: 5px;
	font-size: rem-calc(16);

	&.orgrane {
		background-color: $orange;
		border-color: $orange;
		margin: 0;
		position: relative;
		left: 3px;
		border-radius: 0;
		z-index: 99;
		width: 52%;
	}

	&.green {
		background-color: $green;
		border-color: $green;
		margin: 0;
		position: relative;
		right: 3px;
		border-radius: 0;
		width: 44%;

		&:before {
			content: '';
			border-top: 36px solid transparent;
			border-left: 20px solid $orange;
			top: 0;
			left: 2px;
			position: absolute;
		}
	}

	&.long {
		width: 52%;
	}

	&.short {
		width: 44%;
	}
}

.button--category {
	max-width: 200px;
	width: 100%;
	display: block;
	margin: 30px auto;
	text-align: center;
}

.button--staff {
	margin-top: 20px;
}

.button--promotions {
	margin: 5px 0;
}

.button--add-payment {
	margin-left: 15px;
	margin-right: 15px;
}

.button--sales-history {
	margin-right: 33px;
}

.wishlist__button {
	width: 101px;
	font-size: 14px;

	@media screen and (min-width: 785px) {
		font-size: $base-font-size;
		width: 150px;
	}
}

.button--plain {
	padding: 0;
	background: transparent;
	border-color: transparent;
	color: $steel;

	&:hover {
		color: $black;
		background: transparent;
		border-color: transparent;
	}
}

.button--full-width {
	width: 100%;
	max-width: 100%;
}

.subtle-link {
	color: $steel;
}

.button--label {
	float: right;
	width: 150px;
	margin: 0 0 0 15px;
}

.button--shelf {
	font-size: 18px;
	width: 160px;

	&:first-child {
		margin-right: 10px;
	}
}

.button--workstation {
	float: right;
}

.button--add-t-cart {
	margin-bottom: 20px;
}

.button--cart-checkout {
	float: right;
	margin-bottom: 20px;
}