.cart-container {
    width: 100%;
    padding: 0;

    @media only screen and (min-width: 1200px) {
        padding: 0 5%;
    }
}

.cart-item--quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 0 !important;
    border-top: 1px solid grey !important;

    &.first-child {
        border-top: 0 !important;
    }
}

.cart-item--image {
    width: 150px;
    height: 150px;
}

.cart-table {
    overflow: auto;
}

.cart-item--total {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

.cart-item--name {
    word-break: break-all;
    width: 400px;
}

.cart-table--header {
    th {
        height: 50px;
        border: 1px solid grey;
        font-size: 18px;
        font-weight: bold;
    }
}

.cart-table--item, .cart-table--total {
    td {
        border: 1px solid grey;
        border-spacing: 1px;
        text-align: center;
        font-size: 16px;
    }
}

.cart-table--total {
    td {
        text-align: right;
    }
}

.cart-total-item {
    position: fixed;
    right: 16px;
    top: 27px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    p {
        font-weight: bold;
        font-size: 12px;
        color: grey;
        margin: 0;
    }
}