.items-container {
    overflow: auto;
    width: 100%;

    .ember-view {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10%;

        @media only screen and (min-width: 1000px) {
            padding: 0 15%;
        }
    
        @media only screen and (min-width: 1920px) {
            padding: 0 20%;
        }
    }
}

.item-information {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    a {
        padding: 0 !important;
    }
    
    @media only screen and (min-width: 600px) {
        width: 50%;
    }

    @media only screen and (min-width: 1000px) {
        width: 33.3333%;
    }

    @media only screen and (min-width: 1400px) {
        width: 25%;
    }
}

.item-name {
    text-overflow: ellipsis;
    display: block !important;
    white-space: nowrap;
    overflow: hidden;

    @media only screen and (min-width: 768px) {
        width: 240px;
    }
}

.item-image {
    position: relative;
    background: white;
    border: 1px solid #c1c3c5;

    .sale-offer-tag {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        color: #FFFFFF;
        font-size: 11px;
        font-weight: 700;
        height: 50px;
        text-transform: uppercase;
        top: 2%;
        right: 10px;
        width: 50px;
        z-index: 100;
        background: #ff7878;
        position: absolute;
        text-align: center;
    }

    .sale-offer-tag span {
        position: relative;
        z-index: 100;
        top: 10px;
    }

    img {
        width: 100%;
        height: 100%;
        max-height: 234px;
    }
}

.item-price {
    font-size: 15px;
    color: #1b8eb5;
}

.item-price-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 14px;
}

.item-price--old {
    width: 50%;
    text-decoration: line-through;
}

.item-price--current {
    flex: 1;
    text-align: right;
    font-weight: bold;
}

.item-container {
    min-height: 335px;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
        min-height: 385px;
    }
}

.occluded-content {
    display: inline;
}

.item-title {
    margin-top: 25px;
}