.item-detail-container {
    min-width: 1170px;
    margin-top: 20px;
}

.item-detail-image {
    margin-right: 30px;
    width: 400px;
}

.item-detail-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-detail-information {
    margin: 20px;
    font-size: 14px;
}

.item-detail-country {
    font-size: 16px;
}

.item-detail--row {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    flex-direction: row;
}

.image-large {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 768px) {
        width: 400px;
        height: 400px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.image-small {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.thumb-container {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
}

.item-detail-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.item-detail-title {
    width: 100%;

    @media only screen and (min-width: 768px) {
        width: 45%;
    }
}