.nav-menubar {
    background: #1b8eb5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    padding: 0 10%;

    @media only screen and (min-width: 1000px) {
        padding: 0 15%;
    }

    @media only screen and (min-width: 1920px) {
        padding: 0 20%;
    }
}

.nav-menucontent { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    border-color: #c0c0c0;

    li {
        list-style-type: none;
        width: 100%;
        color: #888;
        padding: 0 5px;
    }

    li.level1 {
        color: black;
    }

    li.level2, li.level3, li.level4, li.level5 {
        &:hover {
            background: #1b8eb5;
            color: white;
        }
    }

    .liquid-container {
        width: 100%;
    }
}

.nav-title {
    color: white;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-width: 0 0 0 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 50px;
    padding: 0 15px;

    &:last-child {
        border-right-width: 1px;
    }
}

.nav-title--selected {
    background: #185f77;
}

.nav-category-container {
    background-color: white;
    color: black;
    border: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-top: 0;
    width: 100%;
    margin: 0 10%;

    @media only screen and (min-width: 1000px) {
        width: 50%;
        margin: 0 15%;
    }

    @media only screen and (min-width: 1920px) {
        width: 30%;
        margin: 0 20%;
    }
}

.nav-category-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: lighter;
    flex-direction: column;
    margin: 0;
    width: 25%;
    font-size: 13px;
    padding: 10px 0 10px 15px;
    cursor: pointer;

    .level1 {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 14px;
        a {
            color: black;
        }
    }
}

.cat-head {
    background: white;
    opacity: 1;
}