.num-input__input {
	width: calc(100% - 80px);
	border: solid 1px #fff;
	font-size: rem-calc(16);
	text-align: center;
	margin: 0 0 18px 0;
}

.num-input {
	display: inline-block;
	position: relative;
	padding: 0;
	vertical-align: middle;
	width: 135px;
	height: $input-height;
	background-color: #fff;
	border: 1px solid $dark-gray;
	border-radius: $global-radius;
	display: flex;
}

.num-input--with-all {
	width: 200px;
}

.num-input__button {
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
	background-color: $dark-gray;
	font: 0/0 a;
	color: transparent;
	height: 100%;
	width: 40px;
	flex: 0 0 40px;
	position: relative;
	cursor: pointer;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -5px 0 0 -10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 0;
		height: 0;
	}

	&:hover {
		background-color: $blue;
	}
}

.num-input__button--highlight {
	background-color: #007acc;
}

.num-input__button--down {
	border-radius: 1px 0 0 1px;
	&:before {
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #ffffff transparent transparent transparent;
	}
}

.num-input__button--up {
	border-radius: 0 1px 1px 0;
	&:before {
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #ffffff transparent;
	}
}

.num-input .num-input__input {
	flex: 1;
	border: solid 1px #fff;
	font-size: 16px;
	height: 100%;
	min-height: 0;
	text-align: center;
	margin-bottom: 0;
}

.num-input__prefix, .num-input__suffix {
	line-height: 34px;
	vertical-align: middle;
	flex: 0 0 auto;
}

.has-prefix.num-input {
	width: 150px;
}

.has-suffix.num-input {
	width: 150px;

}

.has-prefix.has-suffix.num-input {
	width: 165px;
}

.has-prefix.num-input .num-input__input {
	padding-left: 15px;
}

.has-suffix.num-input .num-input__input {
	padding: 0;
}

.has-prefix.has-suffix.num-input .num-input__input {
	text-align: center;
	padding-left: 12px;
}

.num-input__max-button {
	flex: 0 0 auto;
	line-height: 34px;
	height: 34px;
	padding: 0 16px;
	background-color: $secondary-color;
}