.page__content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.page__content {
    width: 100%;
}

.page__content-menu {
    width: 100%;
    z-index: 9999;
    position: fixed;
    // Set default height for menu top bar
    min-height: 124px;
}

.page__content-detail {
    margin-top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    margin-top: 15px;
}