.product-search {
	position: relative;
	display: inline-block;
	width: 100%;
	&::before {
		position: absolute;
		left: 10px;
		color: $medium-gray;
		font-size: rem-calc(20);
		line-height: 20px;
		top: 50%;
		margin-top: -10px;
		z-index: 1;
	}
	.ember-text-field {
		margin: 0;
		padding-left: rem-calc(35);
		position: relative;
		display: inline-block;
		background: $white;
		height: $input-height;
		overflow: hidden;
		font-size: 1.25rem;
	}
}

.text-field {
	width: 10px;
}

.bundle-option {
	color: $medium-gray;
	margin: 24px;
}

.price-input {
	width: 100px;
}

.bundle-title {
	margin-bottom: 3px;
}

.bundle-product-list {
	margin-top: 30px;
}

.bundle-total {
	position: absolute;
	bottom: 0%;
	width: 85%;
	margin-left: 38px;
}

.testatt {
	text-align: center;
}

.edit-product-item-list {
	text-align: center;
}

.product-search__results {
	position: absolute;
	overflow: auto;
	background: $white;
	border: 1px solid $medium-gray;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 0;
	max-height: 0;
	z-index: 2;

	@include breakpoint(medium) {
		width: 100%;
	}

	.product-search--results-open & {
		opacity: 1;
		max-height: 300px;
	}
}

.product-search__loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.product-search__loading--loading {
	opacity: 1;
	visibility: visible;
}

.product-search__item {
	padding: rem-calc(10);
	display: flex;
	align-items: center;
	color: $body-font-color;

	&:hover {
		background: $light-gray;
		color: $body-font-color;
	}
}

.product-search__image {
	width: 80px;
	flex: 0 0 auto;
}

.product-search__info {
	flex: 1 0 auto;
	padding-left: 10px;
	text-align: left;
}

.product-search__variant {
	flex: 0 1 auto;
	word-break: break-word;
	padding: 0 10px;
	text-align: left;
}

.product-search__variant-label {
	color: $medium-gray;
	font-size: rem-calc(14);
	min-height: 1em;
	line-height: 1;
}

.product-search__variant-value {
	font-size: rem-calc(16);
}

.product-search__name {
	margin: 0;
	word-break: break-all;
}

.product-search__sku {
	font-weight: $font-weight-bold;
	margin: 0;
	word-break: break-all;
}