.utility-bar {
	display: flex;
	line-height: $utility-bar-height;
	border-right: 1px solid $medium-gray;
	background: #fff;
	position: relative;
	min-height: 50px;
	z-index: 10;
}

.utility-bar--dark {
	background: $body-background;
}

.utility-bar__left {
	flex: 0 0 auto;
	display: flex;
	min-height: 50px;
	align-items: center;
	justify-content: center;
	//border-right: 1px solid #CCCCCC;
	padding: rem-calc(0 10);
}

.utility-bar__left--flush {
	padding: 0;
}

.utility-bar__center {
	flex: 1;
	display: flex;
	@include align-items(center);
	min-height: 50px;
	text-align: center;
	font-size: rem-calc(20);
	line-height: $utility-bar-height;
	padding: rem-calc(0 20);
	justify-content: center;
	&.edit-product {
		border-bottom: 1px solid #CCCCCC;
		background-color: white;
		padding: 12px;
		margin: 0 auto;
	}
	&.profile-payment {
		font-style: italic;
		line-height: 1.5;
		padding: 0 10px;
	}
	&.profile-card {
		line-height: 1.5;
		padding: 0 10px;
	}
}

.utility-bar__right {
	flex: 0 0 auto;
	display: flex;
	padding-right: 0;
	border-left: 1px solid #CCCCCC;
	text-align: right;
	align-items: center;
	justify-content: center;
	min-width: 50px;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 74px;
		width: 55px;
	}

	i {
		color: #0095ff;
		font-size: 45px;
	}
}

.utility-bar__icon {
	padding: (($utility-bar-height - rem-calc(30)) / 2) rem-calc(10);
	border-left: 1px solid $medium-gray;
	font-size: rem-calc(30);
	line-height: 1;
	height: $utility-bar-height;
	color: $dark-gray;
	text-decoration: none;
	display: block;
	float: left;

	&.icon-delete {
		color: $white;
	}

	&.utility-bar__cursor {
		cursor: pointer;
	}

	&.utility-bar__icon--no-border {
		border: none;
	}

	&:first-child {
		border-left: 0;
	}
}

.utility-bar__tabs {
	display: flex;
	list-style: none;
	margin: 0;
	width: 100%;
}

.utility-bar__tab {
	flex: 1;
	text-align: center;
	border-left: 1px solid $medium-gray;
	line-height: $utility-bar-height;

	&:first-child {
		border-left: 0;
	}
}

.utility-bar__status-bar {
	@include clearfix();
	@media screen and (min-width: 1246px) {
		display: flex;
	}
	width: 100%;
	margin: 0;
}

.utility-bar__status-item, .utility-bar__status-item-promotion {
	list-style: none;
	@include flex(1 1 auto);
	position: relative;
	display: flex;
	@include align-items(center);
	justify-content: center;
	height: $utility-bar-height;
	background: $white-smoke;

	span {
		flex: 0 0 auto;
		opacity: 0.8;
		margin-top: -3px;
	}

	a {
		color: $body-font-color;
	}

	&.utility-bar__status-item--selected span {
		opacity: 1;
		color: $blue;
	}

	@media screen and (min-width: 1246px) {
		&:after {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 25px 0 25px 31px;
			border-color: transparent transparent transparent $white-smoke;
		}

		&:before {
			position: absolute;
			content: '';
			left: 1px;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 25px 0 25px 33px;
			border-color: transparent transparent transparent $medium-gray;
		}
	}

	&.utility-bar__status-item--completed, &.utility-bar__status-item--selected {
		background: $white;
	}

	&.utility-bar__status-item--next:after, &.utility-bar__status-item--completed:after, &.utility-bar__status-item--selected:after {
		border-color: transparent transparent transparent $white;
	}

	&:first-child {
		&:before, &:after {
			display: none;
		}
	}
}

.utility-bar__status-item-promotion {
	text-align: center;
}

.utility-bar__status-item-promotion:last-child {
	&:before {
		position: absolute;
		border: 1px solid $medium-gray !important;
		height: 100%;
	}

	&:after {
		position: absolute;
		border: none;
	}
}

.utility-bar__tab-wrap {
}

.utility-bar__tabs {
	@include clearfix();
	overflow: hidden;
	display: table-row;

	@include breakpoint(medium) {
		display: flex;
		flex: 0 1 fit-content;
		@include align-items(center);
	}

	li {
		border: 1px solid $blue;
		border-radius: $global-radius;
		margin: rem-calc(5 0);

		@include breakpoint(medium) {
			flex: 0 0 auto;
			border-right-width: 0;
			border-radius: 0;
			margin: 0;

			&:first-child {
				border-radius: 3px 0 0 3px;
			}

			&:last-child {
				border-radius: 0 3px 3px 0;
				border-right-width: 1px;
			}
		}

		a {
			display: block;
			color: $blue;
			font-size: rem-calc(20);
			line-height: rem-calc(32);
			padding: rem-calc(0 50);

			&.active, &:hover {
				color: $white;
				background: $blue;
			}
		}
	}
}

.filter-header {
	border-right: 1px solid $medium-gray;
}

.bundle-header {

}

.utility-bar__header {
	flex: 1;
	display: flex;
	@include align-items(center);
	min-height: 1px;
	text-align: center;
	font-size: rem-calc(20);
	line-height: $utility-bar-height;
	justify-content: center;
	border-bottom: 1px solid #CCCCCC;
	background-color: white;
	margin: 0 auto;
}

.search-header {
	text-align: center;
	margin-top: 25px;
}

.last-edited {
	display: inline;
	float: left;
	/* height: 100px; */
	margin-top: 21px;
	margin-left: 36px;
}

.utility-bar__center--inventory {
	span {
		display: none;
	}

	@include breakpoint(medium) {
		span { display: inherit; }
		margin-right: 218px;
	}
}

.utility-bar__center--category {
	margin-left: 194px;
}

.utility-bar-category {
	.search-form {
		max-width: 165px;
		@include breakpoint(medium) {
			max-width: 100%;
		}
	}
}

.utility-bar__no-zindex {
	z-index: auto;
}

.utility-bar__center--title {
	margin-right: 47px;
}
